absl-py==2.3.1
attrs==25.4.0
cattrs==1.5.0
cloudpickle==3.1.2
filelock==3.19.1
grpcio==1.78.0
gym==0.26.2
gym-notices==0.1.0
h5py==3.14.0
importlib-metadata==8.7.1
markdown==3.9
markupsafe==3.0.3
mlagents==0.30.0
mlagents-envs==0.30.0
numpy==1.21.2
packaging==26.0
pettingzoo==1.15.0
pillow==11.3.0
protobuf==3.20.3
pyyaml==6.0.3
setuptools==69.5.1
six==1.17.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
torch==1.11.0
typing-extensions==4.15.0
werkzeug==3.1.5
wheel==0.46.3
zipp==3.23.0
